# GEMINI_API_KEY: Requerido si se usan modelos Gemini en el servidor
GEMINI_API_KEY=""

# Configuración pública de Firebase para FCM 2027-1
VITE_FIREBASE_API_KEY="AIzaSyDP7QEnTa99tdz1ya5EQ0vwuVW1Oyu09Xs"
VITE_FIREBASE_AUTH_DOMAIN="first-presence-478804-t0.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="first-presence-478804-t0"
VITE_FIREBASE_STORAGE_BUCKET="first-presence-478804-t0.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="519225730486"
VITE_FIREBASE_APP_ID="1:519225730486:web:c1243e723a1c47a80e4d17"
VITE_FIREBASE_DATABASE_ID="ai-studio-planeacinacadmic-edf5a939-98db-4588-8868-92a15817aa91"
